.buttonList{
    padding: 10px 25px;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 2px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.container__buttons svg:last-child {
    margin-right: 20px;
}

.listButtonToggleValidate {
    background-color: green;
}

.listButtonToggleValidate:hover {
    background-color: rgb(0, 84, 0);
}

.listButtonToggleCancel {
    background-color: rgb(215, 166, 4);
}

.listButtonToggleCancel:hover {
    background-color: rgb(169, 130, 2);
}

.listButtonDelete {
    background-color: red;
}

.listButtonDelete:hover {
    background-color: rgb(177, 3, 3);
}